body {
    font-family: "Lato", sans-serif;
}

line {
    stroke: green;
}

html, body { margin:0; padding:0; overflow:hidden }
.fullscreenCanvas { position:fixed; top:0; left:0; height:100%; width:100% }

.controllerInput {
    width: 3em;
}

.optionsbtn {
    position: fixed;
    top: 5px;
    left: 5px;
    cursor: pointer;
    font-size: 15px;
}

input.optionText {
    width: 3em;
}

.errorDialog {
    color: white;
    background-color: darkslategrey;
    text-align: center;
    width: 25%;
    /* opacity: 0; */
    overflow-y: hidden;
    transition: 0.5s;
    top: -100%;
    left: 50%;
    position: fixed;
    border: 2px solid darkgray;
    transform: translate(-50%, 0);
    border-radius: 5px;
}

.errorDialog h1 {
    color: coral;
    font-size: 24px;
}

.errorDialog a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}


.sidenav {
    color: white;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #121f1f;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenavContent {
    margin-left: 5px;
}

.sidenav select {
    width: 80%;
}

.sidenav section {
    margin-bottom: 0.5em;
    padding-bottom: 0.75em;
    border-bottom-color: rgba(240, 255, 240, 0.4);
    border-bottom-width: 0.05em;
    border-bottom-style: solid;
}

.sidenav section h3 {
    margin-top: 0.5em;
}

.sidenav section h4 {
    margin-bottom: 0.25em;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}