body {
    font-family: "Lato", sans-serif;
}

line {
    stroke: green;
}

.optionsbtn {
    position: fixed;
    top: 5px;
    left: 5px;
    cursor: pointer;
    font-size: 15px;
}

.sidenav {
    color: white;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenavContent {
    margin-left: 5px;
}

.sidenav p {
    margin-bottom: 3px;
}

.sidenav select {
    width: 80%;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}